body 
{ 
margin: 60px auto; 
width: 75%; 
} 
nav ul
{ 
font-family:'Roboto', 'Roboto', 'Sans-Serif'; 
padding: 0px; 
list-style: none; 
font-weight: bold; 
}
nav ul li
{ 
display: inline; 
margin-right: 20px;
color:#284258
} 
a 
{ 
text-decoration: none; 
color: #058; 
}
h1 
{ 
font-size: 2.2em; 
font-family:'Roboto', 'Roboto', 'Sans-Serif'; 
} 
p 
{ 
font-size: 1.5em; 
line-height: 1.4em; 
color: #333; 
} 
p1
{
  font-size:0.8em;
}
footer 
{ 
border-top: 1px solid #d5d5d5;
} 
ul.posts 
{ 
margin: 20px auto 40px; 
font-size: 1.5em; 
} 
ul.posts li 
{ 
list-style: none;
}
