html { 
  background: url(/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body 
{ 
margin: 60px auto; 
width: 75%; 
} 
nav ul
{ 
font-family:'Roboto', 'Roboto', 'Sans-Serif'; 
padding: 0px; 
list-style: none; 
font-weight: bold;
color: white;
}
nav ul li
{ 
display: inline; 
margin-right: 20px;
color: white
} 
a 
{ 
text-decoration: none; 
color: white; 
}
h1 
{ 
font-size: 2.2em; 
font-family:'Roboto', 'Roboto', 'Sans-Serif'; 
color: white;
} 
pb
{ 
font-size: 1.5em; 
line-height: 1.4em; 
color: #333; 
}
p 
{ 
font-size: 1.5em; 
line-height: 1.4em; 
color: white; 
} 
p1b
{
  font-size:1.0em;
}
p1
{
  font-size:1.0em;
  color: white;
}
footer 
{ 
border-top: 1px solid #d5d5d5;
color: white;
}
ul.posts li 
{ 
list-style: none;
}
