body 
{ 
margin: 60px auto; 
width: 75%;
height: 100%;
} 
nav ul
{ 
font-family:'Roboto', 'Roboto', 'Sans-Serif'; 
padding: 4px; 
list-style: none; 
font-weight: bold;
}
nav ul li
{ 
display: inline; 
margin-right: 20px;
} 
a 
{ 
text-decoration: none; 
}
h1
{ 
font-size: 2.2em; 
font-family:'Roboto', 'Roboto', 'Sans-Serif';
}
p
{ 
font-size: 1.5em; 
line-height: 1.4em; 
color: #333; 
}
p1
{
  font-size:1.0em;
}
footer 
{ 
border-top: 1px solid #d5d5d5;
}
ul.posts li 
{ 
list-style: none;
}
