body 
{ 
	margin: 0px auto;
	height: 100%;
	font-family: 'Roboto', Verdana, Arial, sans-serif; 
} 
main
{
	margin: 20px;
	margin-left: 10%;
	margin-right: 10%;
}
.demo-layout-transparent 
{
	background-color: #607D8B;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button 
{
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
	color: white;
}
footer ul li a:hover 
{ 
	text-decoration: none; 
}
footer ul
{ 
	font-family:'Roboto', 'Roboto', 'Sans-Serif'; 
	padding: 0px; 
	list-style: none; 
	font-weight: bold; 
}
footer ul li
{ 
	display: inline;
} 
a
{
	text-decoration: none;
}
h1
{ 
	font-size: 2.0em;
}
p
{ 
	font-size: 1.4em;
	color: #333; 
}
p1
{
	font-size:1.0em;
}
footer 
{ 
	border-top: 1px solid #d5d5d5;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 80%;
	height: wrap;
	margin-left: 10% auto;
}
