<style>
	ul li a:hover 
	{ 
		text-decoration: none; 
	}
	footer
	{
		font-size: 1.2em;
	}
</style>
<footer>
<br>
  <font color="black">~The Dork Knight Rises (Samriddha Basu)</font>
<ul>
  <li><button class="mdl-button" disabled>
  	<font color="black"><b>Links:</b></font>
      </button>
  </li>
  <li>
    <a href="https://plus.google.com/+SamriddhaBasu">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      <font size="1.2em">Google+</font>
    </button>
    </a>
  </li>
  <li>
    <a href="https://github.com/TheDorkKnightRises">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      <font size="1.2em">GitHub</font>
    </button>
    </a>
  </li>
  <li>
    <a href="https://thedorkknightrises.github.io/credits/">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      <font size="1.2em">Credits</font>
    </button>
    </a>
  </li>
</ul>
</footer>
