<style>
	ul li a:hover 
	{ 
		text-decoration: none; 
	}
	footer ul
	{ 
		font-family:'Roboto', 'Roboto', 'Sans-Serif'; 
		padding: 0px; 
		list-style: none; 
		font-weight: bold; 
	}
	footer ul li
	{ 
		display: inline;
	} 
</style>
<footer>
<div style="text-align: center;">
    <p1>Personal website and blog. Powered by GitHub Pages.</p1>
</div>
<br>
  <font color="black" size="2.2em">~The Dork Knight Rises (Samriddha Basu)</font>
<ul>
  <li><button class="mdl-button mdl-button--colored" disabled>
  	<font color="black" size="1.9em"><b>Links:</b></font>
      </button>
  </li>
  <li>
    <a href="https://github.com/TheDorkKnightRises/TheDorkKnightRises.github.io">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      <font color="black" size="2.0em">Source</font>
    </button>
    </a>
  </li>
  <li>
    <a href="/credits/">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      <font color="black" size="2.0em">Credits</font>
    </button>
    </a>
  </li>
</ul>
</footer>
