<style>
	ul li a:hover 
	{ 
		text-decoration: none; 
	} 
</style>
<footer>
<br>
  ~The Dork Knight Rises (Samriddha Basu)
<ul>
  <li><button class="mdl-button" disabled>
  	<b>Links:</b>
      </button>
  </li>
  <li>
    <a href="https://plus.google.com/+SamriddhaBasu">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      Google+
    </button>
    </a>
  </li>
  <li>
    <a href="https://github.com/TheDorkKnightRises">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      GitHub
    </button>
    </a>
  </li>
  <li>
    <a href="https://thedorkknightrises.github.io/credits/">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      Credits
    </button>
    </a>
  </li>
</ul>
</footer>
