<nav>
  <ul>
	<li>
        <a href="https://thedorkknightrises.github.io/">
        	<button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        		Home
        	</button>
        </a>
	</li>
	<li>
	<a href="https://thedorkknightrises.github.io/blog/">
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect">
			Blog
		</button>
	</a>
	</li>
	<li>
	<a href="https://thedorkknightrises.github.io/about/">
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect">
			About
		</button>
	</a>
	</li>
  </ul>
</nav>
