<nav>
  <ul>
	<li><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <a href="https://thedorkknightrises.github.io/">Home</a>
	</button></li>
	<li><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	<a href="https://thedorkknightrises.github.io/blog/">Blog</a>
	</button></li>
	<li><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	<a href="https://thedorkknightrises.github.io/about/">About</a>
	</button></li>
  </ul>
</nav>
