<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="share">
  <i class="material-icons">share</i>
</button>
<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="share">
  <a name='fb_share' type='link' href='http://www.facebook.com/sharer.php?url={{ site.url }}{{ page.url }}' rel='nofollow'><li class="mdl-menu__item">Facebook<script src='http://static.ak.fbcdn.net/connect.php/js/FB.Share' type='text/javascript'></script></li></a>
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}"><li class="mdl-menu__item">Twitter</li></a>
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" style= "color: black;"><li class="mdl-menu__item">Google+</li></a>
</ul>
