---
layout: default
title: Blog | The Dork Knight Rises
---
<style>
.mdl-card > * {
  height: auto;
  margin-bottom: 16px;
}
.mdl-card {
  flex-grow: 1;
}
section {
  height: auto;
  width: auto;
}
</style>
<h1>Blog</h1>
{% for post in site.posts %}
<section class="mdl-grid mdl-shadow--4dp" style="position:relative;">
            	<div class="mdl-card mdl-cell">
                        <div class="mdl-card__supporting-text">
			<p>{{ post.title }}</p>
                        <p1>{{ post.date | date_to_string }}</p1>
                        </div>
                        <div class="mdl-card__actions mdl-card--border" style="position: absolute; z-index: 99; bottom:16px;>
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="{{ post.url }}">
                               Read
                        </a>
                        </div>
		</div>
	<div class="mdl-card__menu" style="position: absolute; z-index: 99; right:16px;">
            {%include share_btn.html%}
	</div>
</section>
{% endfor %}
