<!DOCTYPE html>
<html>

{%include ssl.html%}

{%include head.html%}

<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout-icon"></div>
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <nav>
        <a href="https://thedorkknightrises.github.io/" class="mdl-navigation__link">
      		Home
    	  </a>
	  <a href="https://thedorkknightrises.github.io/blog/" class="mdl-navigation__link">
	  	Blog
	  </a>
	  <a href="https://thedorkknightrises.github.io/about/" class="mdl-navigation__link">
		  About
	  </a>
      </nav>
    </div>
  </header>
</div>

<body>
  
<div class="container">
  {{ content }}
</div>

{%include footer.html%}

</body>

{%include ad.html%}

<html>
