<!DOCTYPE html>
<html>

{%include ssl.html%}

{%include head.html%}



<body>

    <div class="container">
    	{%include nav.html%}
    </div>
    
    <div class="container">
    	{{ content }}
    </div>

    <div class="container">
	{%include footer.html%}
    </div>
<!-- Colored FAB button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored typeform-share link" style="position: fixed; margin-right: 2px; margin-bottom: 2px;" href="https://samriddhabasu.typeform.com/to/pfW0DA" data-mode="1" target="_blank">
  <i class="material-icons">feedback</i>
</button>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

</body>


{%include ad.html%}

<html>
