---
layout: default
---
<style>
	.content
	{
		border-radius: 2px;
  		padding: 16px 16px 12px 12px;
	}
</style>
<div class="mdl-grid mdl-shadow--4dp" style="position: relative;">
          <div class="content mdl-color-text--grey-800">
            <div class="mdl-color-text--grey-800">
              Blog &gt; {{ page.date | date_to_string }}
            </div>
            <h1>{{ page.title }}</h1>
            <div class="post">
  		{{ content }}
	    </div>
          </div>
        <div class="mdl-card__menu" style="position: absolute; z-index: 99; right:4px; bottom:0;">
            {%include share_btn.html%}
	</div>
</div>
<br>
<div class="notecomments">
	{% include disqus.html %}	 
</div>

