---
layout: default
---
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6789084054813885",
    enable_page_level_ads: true
  });
</script>
<span itemscope itemtype="http://schema.org/Article">
<style>
	.content
	{
		border-radius: 2px;
  		padding: 16px 16px 12px 12px;
	}
</style>
<meta itemprop="url" content="https://thedorkknightrises.github.io{{ page.url }}">
<div class="mdl-grid mdl-color--white mdl-shadow--8dp" style="position: relative;">
          <div class="content mdl-color-text--grey-800">
            <div class="mdl-color-text--grey-500">
              <p1>Blog &gt; <span itemprop="datePublished" content="{{ page.date }}">{{ page.date | date_to_string }}</span></p1>
            </div>
            <h1 itemprop="name headline">{{ page.title }}</h1>
            <div class="post">
  		<span itemprop="articleBody">
  			{{ content }}
  		</span>
	    </div>
	    <span itemprop="author" content="Samriddha Basu"></span>
	    <span itemprop="publisher" content="Samriddha Basu"></span>
	    <span itemprop="image" content="http://thedorkknightrises.github.io/browseralt.png"></span>
          </div>
        <div class="mdl-card__menu" style="position: absolute; z-index: 99; right:16px;">
            {%include share_btn.html%}
	</div>
</div>
</span>
<br>
<div class="notecomments">
	{% include disqus.html %}	 
</div>
